.div_pai{
    width: 500px;
    height: 500px;
    background-color: #ff7f00;
}
.div_filho{
    width: 50%;
    height: 50%;
    background-color: #90ee90;

}
.p_paragrafo{
    color: white;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
    background-color: red;
}
.div_tio{
    width: 50%;
    height: 50vh;
    background-color: rgb(0, 217, 255);
}
.div_filhoTio{
    width: 75vw;
    height: 50%;
    background-color: rgb(255, 55, 55);
}
